.Content-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Ajuste para permitir larguras proporcionais */
.input-group {
    display: flex; /* Alinhar os campos horizontalmente */
    flex-direction: row;
    gap: 10px; /* Espaçamento entre os campos */
    align-items: center; /* Centralizar os campos verticalmente */
}

#campos-de-entrada input {
    background: rgb(255,0,230);
    background: linear-gradient(90deg, rgba(255,0,230,0.7525385154061625) 0%, rgba(255,0,0,0.3883928571428571) 36%, rgba(0,60,190,0.16430322128851538) 100%);
    color: white;
    margin-bottom: 10px;
    padding: 5px;
}

#ValorInicial {
    flex: 2; /* Proporção maior para o valor inicial */
    padding: 5px;
}

#Taxa {
    flex: 1; /* Proporção menor para a taxa */
    padding: 5px;
}

#Tempo {
    flex: 1; /* Proporção menor para o tempo */
    padding: 5px;
}

#resultado {
    margin-top: 2px;
    font-weight: bold;
}

#Valor-final {
    margin-top: -10px;
    font-size: 20px;
    font-weight: bold;
}
#TipoInvestimento {
    background: rgb(255,0,230);
    background: linear-gradient(90deg, rgba(255,0,230,0.7525385154061625) 0%, rgba(255,0,0,0.3883928571428571) 36%, rgba(0,60,190,0.16430322128851538) 100%);
    color: white;
}
#TipoInvestimento option {
    background: rgb(0, 0, 0);
    font-display: swap;
    color: rgb(255, 255, 255);
}

#Taxa {
    flex: 1; /* Proporção menor para a taxa */
    padding: 5px;
}

#Valorinicial {
    width: 30%;
}

#Calcular {
    background: rgb(255,0,230);
    background: linear-gradient(90deg, rgba(255,0,230,0.7525385154061625) 0%, rgba(255,0,0,0.3883928571428571) 36%, rgba(0,60,190,0.16430322128851538) 100%);
    color: white;
    font-weight: bold;
}

