html {
    font-size: 16px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, 
.btn:active:focus, 
.btn-link.nav-link:focus, 
.form-control:focus, 
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 59, 121, 1) 24%, rgba(255, 0, 50, 1) 100%);
}

h1 {
    color: white;
}

p {
    color: white;
}

.form-floating > .form-control-plaintext::placeholder, 
.form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, 
.form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.display-4 {
    font-family: 'Times New Roman', sans-serif;
    color: white;
}

#titulo {
    text-align: center;
    font-family: 'Times New Roman', sans-serif;
    font-size: 3rem;
    background: rgb(255,0,0);
    color:linear-gradient(60deg, rgba(255,0,0,1) 0%, rgba(158,0,109,1) 44%, rgba(46,0,230,1) 64%);
    -webkit-background-clip: text;
}
   
   
.Content-display {
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.input-group {
    display: flex;
    flex-direction: column;
}


#campos-de-entrada input {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

#resultado {
    color: white;
    margin-top: 20px;
    font-weight: bold;
}

