.Content-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Ajuste para permitir larguras proporcionais */
.input-group {
    display: flex; /* Alinhar os campos horizontalmente */
    flex-direction: row;
    gap: 10px; /* Espaçamento entre os campos */
    align-items: center; /* Centralizar os campos verticalmente */
}

#redirecionar{
    color:#03C988;
    font-size: 1.3rem;
}

/* Ajuste para o botão calcular */


/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    .Content-display {
        flex-direction: column; /* Ajusta o layout para coluna em telas menores */
        padding: 10px;
        padding-top: -4rem;
    }

    #campos-de-entrada {
        grid-template-columns: 1fr; /* Uma única coluna em telas menores */
        gap: 15px; /* Aumenta o espaçamento entre os campos */
    }

    #campos-de-entrada input {
        max-width: 100%; /* Garante que os campos ocupem toda a largura disponível */
    }

}

/* Estilos para orientação horizontal */
@media (orientation: landscape) {
    .Content-display {
        flex-direction: row; /* Ajusta o layout para linha em orientação horizontal */
        justify-content: space-around;
    }

    #campos-de-entrada {
        grid-template-columns: 1fr 1fr; /* Mantém duas colunas em paisagem */
    }

    #Calcular {
        align-self: center; /* Centraliza o botão */
    }
}


.flex-box {
  width: 15rem;
  border-radius: 5%;
  background-color: #211C84;

  font-style: bold;
  text-align: center;
}
