@import "variables.css";

/* Layout e componentes principais */
.Content-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.flex-box {
    width: 15rem;
    border-radius: 5%;
    background-color: #211C84;
    font-style: bold;
    text-align: center;
}

/* Estilos do input-group */
.input-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

/* Estilos específicos por ID */
#redirecionar {
    color: var(--text-link);
    font-size: 1.3rem;
}

/* Media Queries */
@media (max-width: 768px) {
    .Content-display {
        flex-direction: column;
        padding: 10px;
        padding-top: -4rem;
    }

    #campos-de-entrada {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    #campos-de-entrada input {
        max-width: 100%;
    }
}

@media (orientation: landscape) {
    .Content-display {
        flex-direction: row;
        justify-content: space-around;
    }

    #campos-de-entrada {
        grid-template-columns: 1fr 1fr;
    }

    #Calcular {
        align-self: center;
    }
}