/* Estilos da home */

#titulo {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

#menu {
    display: flex;
    width: 30%;
    background: #13005A;
    border-radius: 50px;
    margin-bottom: 20px;
    padding: 5rem;
    gap: 1rem;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    margin-top: 20px;
}

.flex-box {
    display: flex;
    flex-direction: row;
    background: #00337C;
    width: 80%;
    padding: 2rem;
    border: 2px solid white;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.flex-item {
    flex: 1;
    text-align: center;
    color: white;
}

/* redirecionar links */
a {
    font-size: 1.2rem;
    font-weight: bold; /* Deixa o texto em negrito */
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

#simuladordisplay a {
    color: #03C988;
}

/* Estilos responsivos para dispositivos móveis */
@media (max-width: 768px) {
    #titulo {
        font-size: 2rem; /* Reduz o tamanho do título */
        margin-bottom: 15px; /* Ajusta a margem inferior */
    }

    #menu {
        flex-direction: column; /* Alinha os itens verticalmente */
        width: 100%; /* O menu ocupa toda a largura */
        padding: 2rem; /* Ajusta o padding */
        gap: 1rem; /* Espaçamento entre os itens */
    }

    .flex-box {
        flex-direction: column; /* Alinha os itens verticalmente */
        width: 90%; /* Ajusta a largura */
        padding: 1rem; /* Ajusta o padding */
    }

    .flex-item {
        font-size: 1rem; /* Ajusta o tamanho da fonte */
    }

    a {
        font-size: 1rem; /* Ajusta o tamanho da fonte dos links */
    }
}

@media (max-width: 480px) {
    #titulo {
        font-size: 1.5rem; /* Reduz ainda mais o tamanho do título */
    }

    #menu {
        padding: 1rem; /* Reduz o padding */
        gap: 0.5rem; /* Reduz o espaçamento entre os itens */
    }

    .flex-box {
        padding: 0.5rem; /* Ajusta o padding */
        width: 90%; /* Ajusta a largura para evitar que fique muito esticada */
    }

    #simuladordisplay a {
        font-size: 0.9rem;
    }

    .flex-item {
        font-size: 0.9rem; /* Ajusta o tamanho do texto */
    }

    a {
        font-size: 0.9rem; /* Ajusta o tamanho da fonte dos links */
    }
}