p{
    text-align: center;
}

.flex-box{
    display: flex; /* Usando flexbox para layout */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    flex-direction: column; /* Alinha os itens em coluna */
    margin: 0 auto; /* Centraliza o item na página */
    hyphens: auto;

    width: 45%;

}

#descricao{
    
    margin-top: 3rem;

    border-style: solid;
    border-color: #1C82AD;
    border-width: 1px;
    border-radius: 1%;
}

.flex-item{
    display: flex; /* Usando flexbox para layout */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    flex-direction: column; /* Alinha os itens em coluna */
    margin: 0 auto; /* Centraliza o item na página */
}

.display-4{
    font-size: 4rem; /* Tamanho da fonte do temporizador */
    color: #ffffff; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    
    margin: 1.25rem; /* Margem acima e abaixo do temporizador */
}

#timerDisplay{
    background-color: #4D55CC;
    border-width: 0.1rem;
    border-color: #4CAF50;
    border-style: solid;
    border-radius: 10%;
    
    font-size: 5rem; /* Tamanho da fonte do temporizador */
    color: #ffffff; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    
    margin: 1.25rem; /* Margem acima e abaixo do temporizador */
}

#selectTime{
    background-color: #1C82AD;
    font-size: 1.5rem; /* Tamanho da fonte do temporizador */
    color: #ffffff; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    
    margin: 1.25rem; /* Margem acima e abaixo do temporizador */
}


#botoes{
    display: flex; /* Usando flexbox para layout */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    flex-direction: row; /* Alinha os itens em linha */
    margin: 0 auto; /* Centraliza o item na página */
    
}

button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

    border-radius: 10%;
    border-color: #2A004E;
    border-style: solid;
    border-width: 0.1rem;
}

#stopButton{
    background-color: #F14A00; /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#stopButton:hover{
    background-color: #ff0000; /* Cor de fundo ao passar o mouse */
}

#stopButton:active {
    background-color: #521616; /* Cor de fundo ao clicar */
}

#startButton:hover{
    background-color: #3e8e41; /* Cor de fundo ao passar o mouse */
}
#startButton:active {
    background-color: #1c421d; /* Cor de fundo ao clicar */
}

#resetButton{
    background-color: #500073; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#resetButton:hover{
    background-color: #8c02c7; /* Cor de fundo ao passar o mouse */
}
#resetButton:active {
    background-color: #220031; /* Cor de fundo ao clicar */
}

/* Estilos responsivos para dispositivos móveis */
@media (max-width: 768px) {
    .flex-box {
        width: 90%; /* Ajusta a largura para caber melhor em telas menores */
        padding: 1rem; /* Adiciona padding */
        margin: 0 auto; /* Centraliza o conteúdo */
    }
    #botoes{
        width: 80%;
        display: flex; /* Usando flexbox para layout */
    }

    #descricao {
        width: 100%; /* Ajusta a largura para ocupar toda a tela */
        margin-top: 1rem; /* Reduz o espaçamento superior */
        padding: 1rem; /* Adiciona padding para melhor espaçamento */
        font-size: 1rem; /* Ajusta o tamanho da fonte */
        border-radius: 5px; /* Ajusta o arredondamento */
    }


}

@media (max-width: 480px) {
    #descricao {
        width: 80%; /* Ajusta a largura para ocupar toda a tela */
        font-size: 0.9rem; /* Reduz ainda mais o tamanho da fonte */
        padding: 0.8rem; /* Ajusta o padding */
    
    }

    #timerDisplay {
        font-size: 2.5rem; /* Reduz o tamanho da fonte do temporizador */
    }
}